@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

h1 {
  font-family: ;  
}

.first-article{
    width:700px;
    border-radius:8px;
    border:5px solid red;
    box-shadow: 0cm gray;
    padding:20px;
    text-align: center;
}